  <!-- Pre Footer -->



  </div><!-- End Wrap -->


  <!-- FOOTER -->
   <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-4">
          <h4>CHUCK R EVANS</h4>
          <a href="https://www.facebook.com/chuckrevans/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/chuckrevans/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
   </div>