<% include partials/header-1 %>
<% include partials/landingTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>
<% include partials/contact-modal %>


<!-- JS World Map -->
<section id="travelBanner">
  <div id="chartdiv"></div>
</section>


<!-- Continent Tabs -->
<section id="continentTabs"> 
	<ul class="nav nav-pills">
    <li class="active"><a  href="#1a" data-toggle="tab">Europe</a></li>
    <li><a href="#2a" data-toggle="tab">Asia</a></li>
    <li><a id="swap" href="#3a" data-toggle="tab"></a></li>
    <li><a href="#4a" data-toggle="tab">Africa</a></li>
  </ul>


  <!-- Tab Content -->
  <div class="tab-content clearfix">


    <!-- Europe Tab Content -->
    <div class="tab-pane active" id="1a">
        <div id="destinations-tab">
          <div class="container-fluid">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>Europe</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/stockholmTN.JPG" alt="stockholm">
                  <div class="caption thumbnailText">
                    <h3>Stockholm</h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/IMG_8862.JPG" alt="Dubrovnik">
                  <div class="caption thumbnailText">
                    <h3>Dubrovnik</h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/IMG_9153.JPG" alt="Amsterdam">
                  <div class="caption thumbnailText">
                    <h3>Amsterdam</h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/goaTN.JPG" alt="Goa">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
            </div>
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End Europe Tab Content -->

    <!-- Asia Tab Content -->
    <div class="tab-pane" id="2a"> 
        <div id="destinations-tab">
          <div class="container">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>Asia</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="stockholm">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="Dubrovnik">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="Amsterdam">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/goaTN.JPG" alt="Goa">
                  <div class="caption thumbnailText">
                    <h3>Goa</h3>
                  </div>
                </a>
              </div>
            </div>
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End Asia Tab Content -->

    <!-- North America Tab Content -->
    <div class="tab-pane" id="3a"> 
        <div id="destinations-tab">
          <div class="container">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>North America</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="stockholm">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="Dubrovnik">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="Amsterdam">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="Goa">
                  <div class="caption thumbnailText">
                    <h3></h3>
                  </div>
                </a>
              </div>
            </div>
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End North America Content -->

    <!-- Africa Tab Content -->
    <div class="tab-pane" id="4a"> 
        <div id="destinations-tab">
          <div class="container">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>Africa</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/" alt="Goa">
                  <div class="caption thumbnailText">
                    <h3>Marrakesh</h3>
                  </div>
                </a>
              </div>
            </div>
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End Africa Content -->


  </div><!-- End clearfix -->
</section><!-- End Continent Tabs -->


<% include partials/footer %>
<% include partials/destinations-js %>