<% include partials/header-1 %>
<% include partials/landingTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>
<% include partials/contact-modal %>


<!-- JS World Map -->
<section id="travelBanner">
  <div id="chartdiv"></div>
</section>


<!-- Continent Tabs -->
<section id="continentTabs">
	<ul class="nav nav-pills">
    <li class="active"><a  href="#1a" data-toggle="tab">Europe</a></li>
    <li><a href="#2a" data-toggle="tab">Asia</a></li>
    <li><a id="swap" href="#3a" data-toggle="tab"></a></li>
    <li><a href="#4a" data-toggle="tab">Africa</a></li>
  </ul>


  <!-- Tab Content -->
  <div class="tab-content clearfix">


    <!-- Europe Tab Content -->
    <div class="tab-pane active" id="1a">
        <div id="destinations-tab">
          <div class="container-fluid">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>Europe</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/stockholmTN.JPG" alt="stockholm">
                  <div class="caption thumbnailText">
                    <h4>Stockholm</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/dubrovnikTN.JPG" alt="Dubrovnik">
                  <div class="caption thumbnailText">
                    <h4>Dubrovnik</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/amsterdamTN.JPG" alt="Amsterdam">
                  <div class="caption thumbnailText">
                    <h4>Amsterdam</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/veniceTN.JPG" alt="Venice">
                  <div class="caption thumbnailText">
                    <h4>Venice</h4>
                  </div>
                </a>
              </div>
            </div><!-- end row 1 -->
            <!-- --------------- -->
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/ibizaTN.JPG" alt="Ibiza">
                  <div class="caption thumbnailText">
                    <h4>Ibiza</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/munichTN.JPG" alt="Munich">
                  <div class="caption thumbnailText">
                    <h4>Munich</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/romeTN.JPG" alt="Rome">
                  <div class="caption thumbnailText">
                    <h4>Rome</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/copenhagenTN.JPG" alt="Copenhagen">
                  <div class="caption thumbnailText">
                    <h4>Copenhagen</h4>
                  </div>
                </a>
              </div>
            </div><!-- end row 2 -->
            <!-- --------------- -->
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/barcelonaTN.JPG" alt="Barcelona">
                  <div class="caption thumbnailText">
                    <h4>Barcelona</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/parisTN.JPG" alt="Paris">
                  <div class="caption thumbnailText">
                    <h4>Paris</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/londonTN.JPG" alt="London">
                  <div class="caption thumbnailText">
                    <h4>London</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/kirunaTN.JPG" alt="Kiruna">
                  <div class="caption thumbnailText">
                    <h4>Kiruna</h4>
                  </div>
                </a>
              </div>
            </div><!-- end row 3 -->
            <!-- --------------- -->
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/icelandTN.JPG" alt="Iceland">
                  <div class="caption thumbnailText">
                    <h4>Iceland</h4>
                  </div>
                </a>
              </div>
              
            </div><!-- end row 4 -->
            <!-- --------------- -->
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End Europe Tab Content -->
    <!-- //////////////////////////// -->


    <!-- Asia Tab Content -->
    <div class="tab-pane" id="2a"> 
        <div id="destinations-tab">
          <div class="container-fluid">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>Asia</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/shanghaiTN.JPG" alt="Shanghai">
                  <div class="caption thumbnailText">
                    <h4>Shanghai</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/hongkongTN.JPG" alt="Hong Kong">
                  <div class="caption thumbnailText">
                    <h4>Hong Kong / Macau</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/goaTN.JPG" alt="Goa">
                  <div class="caption thumbnailText">
                    <h4>Goa</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/bangaloreTN.JPG" alt="Bangalore">
                  <div class="caption thumbnailText">
                    <h4>Bangalore</h4>
                  </div>
                </a>
              </div>
            </div><!-- end row -->
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/chennaiTN.JPG" alt="Chennai">
                  <div class="caption thumbnailText">
                    <h4>Chennai</h4>
                  </div>
                </a>
              </div>

            </div><!-- end row -->
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End Asia Tab Content -->
    <!-- //////////////////////////// -->


    <!-- North America Tab Content -->
    <div class="tab-pane" id="3a"> 
        <div id="destinations-tab">
          <div class="container-fluid">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>North America</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/bostonTN.JPG" alt="Boston">
                  <div class="caption thumbnailText">
                    <h4>Boston</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/capecodTN.JPG" alt="Cape Cod">
                  <div class="caption thumbnailText">
                    <h4>Cape Cod</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/chicagoTN.JPG" alt="Chicago">
                  <div class="caption thumbnailText">
                    <h4>Chicago</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/newyorkTN.JPG" alt="New York City">
                  <div class="caption thumbnailText">
                    <h4>New York City</h4>
                  </div>
                </a>
              </div>
            </div><!-- end row 1 -->
            <!-- --------------- -->
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/neworleansTN.JPG" alt="New Orleans">
                  <div class="caption thumbnailText">
                    <h4>New Orleans</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a href="" class="thumbnail">
                  <img src="resources/img/atlantaTN.JPG" alt="Atlanta">
                  <div class="caption thumbnailText">
                    <h4>Atlanta</h4>
                  </div>
                </a>
              </div>

            </div><!-- end row 2 -->
            <!-- --------------- -->
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End North America Content -->
    <!-- //////////////////////////// -->


    <!-- Africa Tab Content -->
    <div class="tab-pane" id="4a"> 
        <div id="destinations-tab">
          <div class="container-fluid">
            <div clas="row">
              <div clas="col-md-6 col-md-offset-3">
                <h1>Africa</h1>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
                <a href="" class="thumbnail">
                  <img src="resources/img/marrakeshTN.JPG" alt="Marrakesh">
                  <div class="caption thumbnailText">
                    <h4>Marrakesh</h4>
                  </div>
                </a>
              </div>
            </div>
            <div id="viewAll">
              <a href="travel.html"><button class="whiteBtn">View All</button></a>
            </div>
           </div>
        </div>
    </div><!-- End Africa Content -->
    <!-- //////////////////////////// -->


  </div><!-- End clearfix -->
</section><!-- End Continent Tabs -->


<% include partials/footer %>
<% include partials/destinations-js %>